In [ ]:
import pandas as pd

In [ ]:
# Load the data from the CSV file

In [ ]:
data = pd.read_csv('/mnt/data/us_income_zipcode[1].csv')

In [ ]:
# Compute the mean income for each ZIP code using the 'Nonfamily Households Mean Income (Dollars)' column

In [ ]:
mean_income_per_zip = data.groupby('ZIP')['Nonfamily Households Mean Income (Dollars)'].mean()

In [ ]:
# Prepare a dataframe for export with the desired columns

In [ ]:
export_data = mean_income_per_zip.reset_index()

In [ ]:
export_data.columns = ['ZIP Code', 'Mean Income']

In [ ]:
# Save the dataframe to a CSV file

In [ ]:
export_path = '/mnt/data/mean_income_per_zip.csv'

In [ ]:
export_data.to_csv(export_path, index=False)

In [ ]:
# Remove rows with NaN values in the 'Mean Income' column

In [ ]:
cleaned_data = export_data.dropna(subset=['Mean Income'])

In [ ]:
# Save the cleaned data to a new CSV file

In [ ]:
cleaned_export_path = '/mnt/data/cleaned_mean_income_per_zip.csv'

In [ ]:
cleaned_data.to_csv(cleaned_export_path, index=False)